<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ButtonClickCompletion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE4A669D1DFE983E009992F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE4A66B61DFE983E009992F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE4A66C11DFE983E009992F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
